@import url(https://cdn.bootcss.com/highlight.js/9.12.0/styles/atom-one-dark.min.css);
.rc-skeleton {
  overflow: hidden;
  position: relative; }
  .rc-skeleton .row {
    margin-top: 8px; }
    .rc-skeleton .row:first-child {
      margin-top: 0; }
  .rc-skeleton .col {
    height: 14px;
    background-color: #eff1f4;
    margin-right: 8px;
    border-radius: 3px; }
    .rc-skeleton .col:last-child {
      margin-right: 0; }
  .rc-skeleton .block {
    width: 102px;
    height: 102px;
    margin-right: 14px; }
    @media (max-width: 680px) {
      .rc-skeleton .block {
        display: none; } }
  .rc-skeleton-banner {
    flex: 1;
    height: 188px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .rc-skeleton-banner:after {
      content: '\E716';
      color: #dae0e5;
      font-size: 88px; }
  .rc-skeleton.loading:after {
    content: '';
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    position: absolute;
    height: 100%;
    width: 400px;
    left: -400px;
    -webkit-animation: skeletonLoading 2.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
            animation: skeletonLoading 2.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite; }

@-webkit-keyframes skeletonLoading {
  0% {
    left: -400px; }
  100% {
    left: 100%; } }

@keyframes skeletonLoading {
  0% {
    left: -400px; }
  100% {
    left: 100%; } }

.rc-card {
  position: relative;
  background-color: white;
  padding: 14px;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  border-radius: 3px;
  margin-bottom: 14px; }
  @media (max-width: 680px) {
    .rc-card {
      margin-bottom: 8px; } }

.rc-image {
  width: 100%;
  display: block; }

.rc-loading-image {
  background-color: #f8f9fa;
  height: 100%;
  border-radius: inherit;
  border: 1px solid #ebebeb; }
  .rc-loading-image .loader {
    width: 36px;
    height: 36px; }

.rc-avatar {
  border-radius: 50%;
  overflow: hidden; }
  .rc-avatar.shadow {
    box-shadow: 2px 2px 4px rgba(25, 25, 25, 0.45); }

.rc-markdown hr {
  border: 0.5px dashed #ebebeb;
  margin: 14px 0; }

.rc-markdown h1,
.rc-markdown h2,
.rc-markdown h3,
.rc-markdown h4,
.rc-markdown h5 {
  word-wrap: break-word;
  margin-top: 14px;
  line-height: 2em;
  color: #3c4859;
  margin-bottom: 14px; }
  @media (max-width: 680px) {
    .rc-markdown h1,
    .rc-markdown h2,
    .rc-markdown h3,
    .rc-markdown h4,
    .rc-markdown h5 {
      margin-bottom: 8px; } }

.rc-markdown h2 {
  border-bottom: 1px solid #ebebeb; }

.rc-markdown p,
.rc-markdown li,
.rc-markdown ol {
  word-wrap: break-word;
  line-height: 2em;
  color: #555; }

.rc-markdown table {
  border-color: #ebebeb;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit; }
  .rc-markdown table th {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 6px 13px; }
  .rc-markdown table td {
    border: 1px solid #ccc;
    padding: 6px 13px; }
  .rc-markdown table tr {
    border-top: 1px solid #ccc;
    background-color: #fff; }
    .rc-markdown table tr:nth-child(2n) {
      background-color: #f8f8f8; }

.rc-markdown dl {
  padding: 0; }
  .rc-markdown dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    .rc-markdown dl dt:first-child {
      padding: 0; }
    .rc-markdown dl dt > :first-child {
      margin-top: 0; }
    .rc-markdown dl dt > :last-child {
      margin-bottom: 0; }
  .rc-markdown dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    .rc-markdown dl dd > :first-child {
      margin-top: 0; }
    .rc-markdown dl dd > :last-child {
      margin-bottom: 0; }

.rc-markdown.light pre {
  color: #888;
  background-color: #fafafa; }

.rc-markdown .code-wrap {
  position: relative; }
  .rc-markdown .code-wrap .tool-bar {
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0; }
    .rc-markdown .code-wrap .tool-bar .tool-bar-btn {
      cursor: pointer;
      padding: 6px;
      color: rgba(255, 255, 255, 0.45); }
  .rc-markdown .code-wrap:hover .tool-bar {
    opacity: 1; }

.rc-markdown pre {
  padding: 14px;
  color: #a6accd;
  background-color: #2e3440;
  border-radius: 3px;
  overflow-x: auto;
  line-height: 1.5em;
  padding-left: 0; }
  .rc-markdown pre .lines {
    min-width: 32px;
    text-align: right;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-right: 6px;
    margin-right: 6px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .rc-markdown pre .lines li {
      color: #63708a;
      line-height: 1.5em; }
    @media (max-width: 680px) {
      .rc-markdown pre .lines {
        display: none; } }
  .rc-markdown pre .code {
    font-family: Fira Code, Menlo, Monaco, Ubuntu Mono, monospace, Microsoft Yahei;
    -webkit-font-feature-settings: "liga" on, "calt" on;
            font-feature-settings: "liga" on, "calt" on;
    line-height: inherit;
    word-wrap: normal; }
    .rc-markdown pre .code span {
      display: inline; }
  @media (max-width: 680px) {
    .rc-markdown pre {
      padding: 8px; } }

.rc-markdown-image {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  margin: 14px 0; }
  @media (max-width: 680px) {
    .rc-markdown-image {
      margin: 8px 0; } }
  .rc-markdown-image:after {
    content: '';
    background-image: url(/assets/loader3-ae8f5f5.svg);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    box-shadow: 0 0 0 1px #ebebeb inset; }
  .rc-markdown-image img {
    opacity: 1;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    max-width: 100%; }
    @media (max-width: 680px) {
      .rc-markdown-image img {
        width: 100%; } }
  .rc-markdown-image[loading] {
    padding: 32px; }
    .rc-markdown-image[loading]:after {
      display: block; }
    .rc-markdown-image[loading] img {
      opacity: 0;
      width: 32px;
      height: 32px; }

.rc-markdown-block {
  border-left: 4px solid #74839b;
  background-color: #f8f9fa;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0 14px;
  margin: 14px 0; }
  @media (max-width: 680px) {
    .rc-markdown-block {
      padding: 0 8px;
      margin: 8px 0; } }

.rc-markdown code:not(.code) {
  color: #74839b;
  background-color: #f8f9fa;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-weight: 400;
  line-height: 1.2em;
  display: inline-block;
  padding: 2px 4px 0 4px;
  margin: 14px 0; }
  @media (max-width: 680px) {
    .rc-markdown code:not(.code) {
      margin: 8px 0; } }


